@import './base';
@import './placeholders';

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    color: $text-color;
}

.loading{
    animation-play-state: paused !important;
}

header{
    margin-bottom: 2vh;
    padding: 2vh 0;
    box-shadow: 0 .1em .4em $grey-light;
}

h1, h2{
    color: $primary-color;
    text-align: center;
}

#feed h2{
    margin-bottom: 1vh;
}

.hello{
    text-align: center;
}

form{
    @extend %block-center;
}

hr{
    width: 50%;
    margin: 1em auto;
    border: 1px dotted $primary-color;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    @extend %input-form;
}

input[type="submit"]{
    width: 100%;
    margin: 2vh 0;
    background: $primary-color;
    color: $white-color;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    @extend %input-form;

    &:hover{
        background: $white-color;
        color: $primary-color;
    }

    &:active{
        box-shadow: .3em .3em .6em $grey-light;
    }
}

#infoUser, 
#infoMsg{
    font-family: $font-msg;
}

.msg-right{
    color: $text-right;
}

.msg-error{
    color: $text-alert;
}

#feed{

    @extend %block-center;
    
    .pseudo{
        font-weight: bold;
    }

    .message{
        font-family: $font-msg;
    }

    .posted{
        font-size: x-small;
        color: $primary-color;
    }

}

.feed-content{
    background-color: $grey-light;
    border-bottom: 1px solid $white-color;
    padding: .5em; 
}

.time{
    text-align: end;
    font-weight: 600;
}

.last-msg{
    opacity: 0;
    transform: translateY(-30px);
    animation: displaying 0.4s 1.6s ease-out forwards;
}

@keyframes displaying{
    100%{
        opacity: 1;
        transform: none;
    }
}

footer{
    margin-top: 5vh;
    padding: 2vh 0;
    box-shadow: 0 -.1em .4em $grey-light;
    
    p{
        text-align: center;
        font-size: small;
        font-weight: 600;
    }
}

/* Responsive display */
@media (min-width:1012px){
    form, #feed, hr{
        width: 35%;
    }
}

@media (max-width:495px){
    form, #feed, hr{
        width: 80%;
    }
}